fastapi
uvicorn
websockets
agno
openai
ollama

# Tools for web search
googlesearch-python
duckduckgo-search
pycountry

PyPDF2
pymupdf
pdfplumber
pdfminer.six
pymupdf4llm
pdfplumber
markdownify

azure-identity
azure-keyvault-secrets